.breadcrumb {
  margin-bottom: 20px;

  @include for-phone-only {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    @include rubik-normal;

    position: relative;
    margin-right: 10px;

    &::after {

      content: '>';
      margin-left: 10px;
      color: $link-main-color;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    @include rubik-normal;

    display: inline-block;

    &:hover {
      color: $black-color;
    }
  }
}