.filter__btn {
  @include link-filter;

  max-width: 148px;
  width: 100%;
  min-height: 30px;
  padding: 6px 10px;
  color: #FFFFFF;
  background: $blue-color;
  border: none;
  word-wrap: break-word;
  cursor: pointer;

  &:hover {
    transition: 0.4s;
    opacity: 0.8;
  }
}