.button-form {
  display: block;
  width: 100%;
  min-height: 30px;
  padding: 6px 10px;
  border: none;
  font-family: $rubik-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $white-color;
  background: $btn-form-color;
  word-wrap: break-word;
  cursor: pointer;

  &:hover {
    transition: 0.4s;
    opacity: 0.8;
  }
}