.checkbox[type="checkbox"] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
	margin: -1px;

	&:checked + .box {
		background-image: url('../assets/images/checkbox.svg');
		border: 1px solid $blue-color;
		background-color: $blue-color;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.label-checkbox {
	display: block;
  font-family: $roboto-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
	color: $black-color;
	cursor: pointer;
  padding-left: 5px;
}

.box {
	position: absolute;
	width: 14px;
	height: 14px;
	margin-left: -19px;
	border: 1px solid $blue-color;
	margin-top: 1px;
}