.filter__input {
  @include link-filter;

  max-width: 341px;
  width: 100%;
  min-height: 30px;
  padding: 0 21px;
  border: 1px solid $border-filter-color;
  color: $black-color;

  &::placeholder {
    color: $link-main-color;
    opacity: 0.5;
	}
}