.form__input {
  width: 100%;
  min-height: 30px;
  padding: 6px 9px;
  border: 1px solid $border-input-color;
  color: $black-color;

  &::placeholder{
    @include rubik-light;

    line-height: 18px;
    color: $black-color;
    opacity: 0.5;
  }

  &:focus + .form__input-placeholder {
    opacity: 0;
  }
}