.location {
  max-width: 130px;

  &__link {
    @include rubik-normal;

    position: relative;
    margin-left: 18px;
    text-decoration-line: underline;
    color: $blue-color;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      left: -18px;
      display: inline-block;
      width: 12px;
      height: 16px;
      background: url('../assets/images/location.svg') no-repeat;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
