.menu {
  @include for-desktop-up {
    display: none;
  }

  &-icon {
    height: 30px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-icon__line {
    position: relative;
    width: 20px;
    height: 3px;
    background-color: $black-color;
  }

  &-icon__line::before {
    position: absolute;
    left: 0;
    top: -7px;
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background-color: $black-color;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  &-icon__line::after {
    position: absolute;
    left: 0;
    top: 7px;
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background-color: $black-color;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  &-icon__line-active {
    background-color: transparent;
  }

  &-icon__line-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  &-icon__line-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}
