.filter__select {
  @include normal-text(12px, 18px);

  width: 100%;
  height: 30px;
  padding: 5px 13px;
  border: 1px solid $border-filter-color;
  appearance: none;
  background: url('../assets/images/select-down.svg') no-repeat;
  background-position: right 13px top 50%;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }
}