.social {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 20px;
    opacity: 0.4;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}

