$white-color: #FFFFFF;
$black-color: #000000;
$blue-color: #3898CD;
$main-color: #E5E5E5;
$link-color: #878787;
$address-header-color: #222222;
$border-header-color: rgba(0, 0, 0, 0.1);
$border-filter-color: #C4C4C4;
$border-link-color: rgba(156, 156, 156, 0.6);
$border-input-color: rgba(0, 0, 0, 0.2);
$link-main-color: #9C9C9C;
$btn-form-color: #C9DB49;
$address-footer-color: #BBBBBB;
$subtitle-color: #8B8B8B;
$link-hover-color: #AF1047;
