@mixin for-phone-only {
  @media (max-width: 639px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 640px) { @content; }
}
@mixin for-tablet-portait-only {
  @media (min-width: 640px) and (max-width: 767px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 768px) and (max-width: 991px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 992px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 992px) and (max-width: 1239px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1240px) { @content; }
}