@mixin link-filter {
  font-family: $roboto-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $blue-color;
}
@mixin normal-text($size, $height) {
  font-family: $roboto-font;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $height;
  color: $black-color;
}
@mixin medium-text($size, $height) {
  font-family: $roboto-font;
  font-style: normal;
  font-weight: 500;
  font-size: $size;
  line-height: $height;
  color: $black-color;
}
@mixin bold-text($size, $height) {
  font-family: $roboto-font;
  font-style: normal;
  font-weight: bold;
  font-size: $size;
  line-height: $height;
  color: $black-color;
}
@mixin rubik-light {
  font-family: $rubik-font;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: $link-color;
}
@mixin rubik-normal {
  font-family: $rubik-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $link-main-color;
}
