@font-face {
	font-family: 'Roboto';
	src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
	src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: 'Rubik';
	src: url("../assets/fonts/Rubik-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: 'Rubik';
	src: url("../assets/fonts/Rubik-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: 'Rubik';
	src: url("../assets/fonts/Rubik-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: 'Rubik';
	src: url("../assets/fonts/Rubik-Black.ttf") format("truetype");
	font-weight: 900;
}