.action {
  padding: 24px 35px;
  background: $white-color;
  margin-bottom: 26px;

  @include for-tablet-landscape-only {
    width: 50%;
    margin-right: 20px;
    margin-bottom: 0;
  }

  &__title {
    @include normal-text(14px, 21px);

    text-align: center;
    margin-bottom: 15px;
    }

  &__title-word {
    font-weight: 500;
  }

  &__bg {
    width: 102px;
    height: 102px;
    margin: 0 auto;
    margin-bottom: 21px;
  }

  &__bg-img {
    width: 100%;
    height: 100%;
  }

  &__tel {
    @include medium-text(16px, 24px);

    text-align: center;
    margin-bottom: 17px;
  }

  &__btn {
    width: 159px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
