.card {
  margin-bottom: 26px;
  padding: 15px 46px 15px 15px;
  display: flex;
  justify-content: space-between;
  background: $white-color;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    opacity: 0.7;
  }

  @include for-phone-only {
    display: block;
    margin-bottom: 16px;
    padding-right: 15px;
  }

  @include for-desktop-up {
    max-width: 872px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__bg {
    height: 270px;
    position: relative;
    margin-right: 32px;

    @include for-phone-only {
      width: 100%;
      margin-bottom: 15px;
      margin-right: 0;
    }

    @include for-tablet-portrait-up {
      width: 300px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__bg-counter {
    @include medium-text(12px, 18px);

    position: absolute;
    right: 4px;
    bottom: 4px;
    min-width: 40px;
    height: 20px;
    padding: 2px 4px;
    background: $blue-color;
    color: $white-color;
    text-align: center;
  }

  &-info__row {
    margin-bottom: 7px;

    @include for-big-desktop-up {
      display: flex;
      justify-content: space-between;
    }
  }

  &-info__col {
    margin-right: 10px;

    @include for-phone-only {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  &-info__title {
    @include medium-text(18px, 26px);

    margin-bottom: 7px;

    @include for-phone-only {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 4px;
    }

    @include for-tablet-portrait-up {
      max-width: 250px;
    }
  }

  &-info__subtitle {
    @include normal-text(16px, 23px);

    color: $subtitle-color;

    @include for-phone-only {
      font-size: 12px;
      line-height: 16px;
    }

    @include for-tablet-portrait-up {
      max-width: 320px;
    }
  }

  &-info__price {
    @include bold-text(24px, 35px);

    display: block;
    white-space: nowrap;

    @include for-phone-only {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &-info__space {
    @include normal-text(16px, 23px);

    position: relative;
    top: -8px;
    white-space: nowrap;

    @include for-phone-only {
      top: -4px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-info__location {
    @include link-filter;

    display: block;

    &:hover {
      color: $link-hover-color;
    }
  }

  &-info__metro {
    @include bold-text(12px, 18px);

    position: relative;
    display: block;
    margin-left: 23px;
    margin-bottom: 1px;
    word-wrap: break-word;

    &::before {
      content: '';
      position: absolute;
      left: -23px;
      top: 4px;
      display: block;
      width: 15px;
      height: 11px;
      background: url('../assets/images/card-metro.svg') no-repeat;
    }

    &:hover {
      opacity: 0.7;
    }

    @include for-tablet-portrait-up {
      max-width: 400px;
    }
  }

  &-info__address {
    @include normal-text(12px, 18px);

    display: inline-block;
    margin-bottom: 14px;

    &:hover {
      color: $link-hover-color;
    }
  }

  &-info__description {
    @include normal-text(14px, 21px);

    @include for-phone-only {
      padding-bottom: 15px;
      font-size: 12px;
      line-height: 17px;
    }

    @include for-tablet-portrait-up {
      max-width: 478px;
    }
  }

  &-info__detailed {
    @include normal-text(14px, 21px);

    float: right;
    margin-left: 14px;
    color: $blue-color;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }

    @include for-phone-only {
      font-size: 12px;
      line-height: 17px;
    }
  }
}
