.content-head {
  margin-bottom: 30px;

  @include for-desktop-up {
    max-width: 872px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  &__title {
    @include medium-text(26px, 30px);

    margin-bottom: 21px;

    @include for-phone-only {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 12px;
    }
  }

  &__param-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    @include for-phone-only {
      display: block;
    }
  }

  &-summary {
    display: flex;

    @include for-phone-only {
      margin-bottom: 12px;
    }
  }

  &-summary__result {
    @include rubik-normal;

    max-width: 190px;
    padding-right: 28px;
    margin-right: 25px;
    border-right: 1px solid $link-main-color;

    @include for-phone-only {
      padding-right: 13px;
      margin-right: 10px;
    }
  }

  &-summary__sort {
    max-width: 210px;
    margin-right: 10px;
  }

  &-summary__label {
    @include rubik-normal;
  }

  &-summary__select {
    @include rubik-normal;

    text-decoration-line: underline;
    color: $blue-color;

    &:hover {
      opacity: 0.6;
    }
  }
}