.content {
  background: $main-color;

  &__wrap {
    padding: 14px 0 69px;

    @include for-phone-only {
      padding-bottom: 30px
    }

    @include for-desktop-up {
      display: flex;
      justify-content: space-between;
    }
  }
}