.filter {
  display: block;
  padding: 10px 15px 22px;
  background: $white-color;
  margin-bottom: 16px;

  @include for-desktop-up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__col {
    width: 100%;
    margin-right: 13px;
    margin-bottom: 18px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    @include for-tablet-portrait-up {
      margin-bottom: 22px;
    }

    @include for-desktop-up {
      width: 81%;
      margin-bottom: 0;
    }
  }

  &__col-right {
    max-width: 100%;

    @include for-desktop-up {
      max-width: 148px;
    }
  }

  &__row {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    @include for-desktop-up {
      display: flex;
      margin-bottom: 20px;
    }
  }

  &__select {
    max-width: 101px;
    margin-right: 11px;

    @include for-phone-only {
      max-width: 100%;
      width: 40%;
      margin-bottom: 8px;
    }

    @include for-tablet-portait-only {
      max-width: 100%;
      width: 40%;
      margin-bottom: 12px;
    }

    @include for-tablet-landscape-only {
      max-width: 100%;
      width: 40%;
      margin-bottom: 12px;
    }
  }

  &__select--long {
    max-width: 216px;
    background-position: right 17px top 50%;

    @include for-phone-only {
      max-width: 100%;
      width: calc( 60% - 15px );
      margin-right: 0;
    }

    @include for-tablet-portait-only {
      max-width: 100%;
      width: calc( 60% - 15px );
      margin-right: 0;
    }

    @include for-tablet-landscape-only {
      max-width: 100%;
      width: calc( 60% - 15px );
      margin-right: 0;
    }
  }

  &__input {
    @include for-phone-only {
      max-width: 100%;
    }

    @include for-tablet-portait-only {
      max-width: 100%;
    }

    @include for-tablet-landscape-only {
      max-width: 100%;
    }
  }

  &__link-sity {
    @include link-filter;

    margin-right: 56px;
    text-decoration-line: underline;

    &:hover {
      color: $link-hover-color;
    }

    @include for-phone-only {
      display: inline-block;
      margin-bottom: 10px;
    }

    @include for-tablet-portait-only {
      display: inline-block;
      margin-bottom: 12px;
    }

    @include for-tablet-landscape-only {
      display: inline-block;
      margin-bottom: 14px;
    }

    @include for-desktop-only {
      margin-right: 40px;
    }
  }

  &__checkbox-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    margin-right: 0;
    margin-left: 14px;
    margin-bottom: 10px;

    @include for-tablet-portait-only {
      margin-bottom: 12px;
    }

    @include for-tablet-landscape-only {
      margin-bottom: 14px;
    }

    @include for-desktop-only {
      margin: 0;
      margin-right: 30px;
    }

    @include for-big-desktop-up {
      margin: 0;
      margin-right: 95px;
    }
  }

  &__label-checkbox {
    margin-right: 22px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-link__wrap {
    max-width: 280px;
  }

  &__link {
    @include link-filter;

    display: inline-block;
    padding: 1px 15px;
    text-decoration-line: underline;
    border-right: 1px solid $border-link-color;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  &__link-counter {
    display: inline-block;
    font-size: 9px;
    line-height: 13px;
    color: $link-main-color;
    margin-left: 2px;
  }

  &__btn {
    margin-bottom: 20px;

    @include for-phone-only {
      max-width: 100%;
      margin-bottom: 10px;
    }

    @include for-tablet-portait-only {
      max-width: 100%;
      margin-bottom: 14px;
    }

    @include for-tablet-landscape-only {
      max-width: 100%;
      margin-bottom: 16px;
    }
  }

  &__clear {
    display: flex;
    justify-content: flex-end;
  }

  &__clear-link {
    @include link-filter;

    position: relative;
    margin-left: 13px;

    &::before {
      content: '';
      position: absolute;
      left: -13px;
      top: 4px;
      display: inline-block;
      width: 7px;
      height: 7px;
      background: url('../assets/images/filter-clear.svg') no-repeat 100%;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
