.footer {
  background: $black-color;

  &__row {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 20px;
    background: $black-color;

    @include for-phone-only {
      display: block;
      padding-top: 20px;
    }

    @include for-tablet-portait-only {
      display: block;
    }

    @include for-desktop-up {
      padding-bottom: 54px;
    }
  }

  &-nav {
    margin-right: 20px;
    display: flex;

    @include for-phone-only {
      display: none;
    }

    @include for-tablet-portait-only {
      margin-right: 0;
      margin-bottom: 30px;
      justify-content: flex-end;
    }
  }

  &-nav__col {
    margin-right: 57px;

    &:last-child {
      margin-right: 0;
    }

    @include for-tablet-portait-only {
      margin-right: 120px;
    }
  }

  &-nav__link {
    display: block;
    font-family: $rubik-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 9px;
    color: $white-color;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.8;
    }

    @include for-tablet-portait-only {
      text-align: right;
    }
  }

  &-contact__row {
    display: flex;
    padding-left: 71px;
    border-left: 1px solid $white-color;

    @include for-phone-only {
      display: block;
      border: none;
    }

    @include for-tablet-portait-only {
      border: none;
      justify-content: flex-end;
    }
  }

  &-contact__col {
    max-width: 190px;
    margin-right: 57px;

    &:last-child {
      margin-right: 0;
    }

    @include for-phone-only {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-contact__info {
    font-family:  $rubik-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    text-align: right;
    color: $address-footer-color;
  }

  &__bottom {
    background: $white-color;
  }

  &__wrap {
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__date {
    max-width: 350px;
    font-family: $rubik-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: $black-color;
    word-wrap: break-word;
  }
}