.form {
  padding: 14px 34px 22px;
  background: $white-color;

  @include for-tablet-landscape-only {
    width: 50%;
  }

  &__title {
    @include medium-text(16px, 24px);

    text-align: center;
    margin-bottom: 23px;
  }

  &__input {
    margin-bottom: 13px;
  }

  &__wrap {
    display: flex;
    margin-bottom: 17px;
  }

  &__input-date {
    position: relative;
    width: 40%;
    height: 30px;
    padding-right: 0;
    margin-bottom: 0;
  }

  &__input-time {
    position: relative;
    width: 60%;
    height: 30px;
    margin-bottom: 0;

    .form__input {
      border-left: none;
    }
  }

  &__input-placeholder {
    @include rubik-light;

    position: absolute;
    top: 6px;
    left: 9px;
    line-height: 18px;
    color: $black-color;
    opacity: 0.5;
    white-space: nowrap;
  }

  &__input-placeholder--line {
    text-decoration: underline;
  }
}