body.is-locked {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.header {
  background: $white-color;

  &__top-panel {
    padding: 5px 0;
    border-bottom:  1px solid $border-header-color;
  }

  &__wrap {
    width: 100%;
    display: flex;
  }

  &__top-panel-wrap {
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
  }

  &__map {
    @include rubik-normal;

    position: relative;
    width: 50%;
    margin-left: 24px;
    text-decoration-line: underline;
    color: $link-color;

    &::before {
      content: '';
      position: absolute;
      left: -24px;
      top: 1px;
      display: inline-block;
      width: 12px;
      height: 16px;
      background: url('../assets/images/header-map.svg') no-repeat;
    }

    &:hover {
      opacity: 0.6;
    }

    @include for-desktop-up {
      width: 30%;
    }

    @include for-phone-only {
      font-size: 10px;
      line-height: 16px;
    }
  }

  &__address {
    @include rubik-light;

    display: none;
    line-height: 18px;
    text-align: center;
    color: $address-header-color;
    width: 40%;

    @include for-desktop-up {
      display: block;
    }
  }

  &__connect {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include for-desktop-up {
      width: 30%;
    }
  }

  &__tel {
    @include rubik-light;

    position: relative;
    max-width: 150px;
    margin-left: 17px;
    margin-right: 32px;

    &::before {
      content: '';
      position: absolute;
      left: -17px;
      top: 4px;
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url('../assets/images/phone.svg') no-repeat;

      @include for-phone-only {
        top: 1px;
      }
    }

    &:hover {
      opacity: 0.6;
    }

    @include for-phone-only {
      font-size: 10px;
      line-height: 16px;
    }
  }

  &__vacancy {
    @include rubik-light;

    display: none;
    max-width: 60px;
    text-decoration-line: underline;
    margin-right: 53px;
    word-wrap: break-word;

    &:hover {
      opacity: 0.6;
    }

    @include for-desktop-up {
      display: block;
    }
  }

  &__search {
    width: 12px;
    height: 12px;

    &:hover {
      opacity: 0.6;
    }
  }

  &__bar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-phone-only {
      min-height: 57px;
    }
  }

  &__logo {
    max-width: 200px;
    font-family: $rubik-font;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    color: $blue-color;
    word-wrap: break-word;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include for-phone-only {
      position: fixed;
      height: calc(100% - 98px);
      top: 98px;
      right: -100%;
      z-index: 9;
      background: $border-link-color;
      transition: transform 0.5s linear;
    }

    @include for-tablet-portait-only {
      position: fixed;
      top: 111px;
      height: calc(100% - 111px);
      right: -100%;
      z-index: 15;
      background: $border-link-color;
      transition: transform 0.5s linear;
    }

    @include for-tablet-landscape-only {
      position: fixed;
      top: 111px;
      height: calc(100% - 111px);
      right: -100%;
      z-index: 15;
      background: $border-link-color;
      transition: transform 0.5s linear;
    }

    @include for-desktop-up {
      max-width: 872px;
    }

    &.is-open{
      transform: translateX(-100%);
    }
  }

  &__menu-wrap{
    @include for-phone-only {
      position: absolute;
      width: 60%;
      height: 100%;
      top: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      padding: 20px 40px;
      padding-bottom: 40px;
      background: $white-color;
      overflow: auto;
    }

    @include for-tablet-portait-only {
      position: absolute;
      width: 40%;
      height: 100%;
      top: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      padding: 20px 40px;
      padding-bottom: 40px;
      background: $white-color;
      overflow: auto;
    }

    @include for-tablet-landscape-only {
      position: absolute;
      width: 40%;
      height: 100%;
      top: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      padding: 20px 40px;
      padding-bottom: 40px;
      background: $white-color;
      overflow: auto;
    }
  }

  &-nav {
    width: 100%;
    margin-bottom: 30px;

    @include for-desktop-up {
      width: auto;
      margin-bottom: 0;
    }
  }

  &-nav__link {
    @include normal-text(14px, 16px);

    margin-right: 55px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &:hover,
    &:active,
    &:focus {
      color: $blue-color;
    }

    @include for-phone-only {
      display: block;
      text-align: left;
      margin-bottom: 15px;
      margin-right: 0;
    }

    @include for-tablet-portait-only {
      display: block;
      text-align: left;
      margin-bottom: 15px;
      margin-right: 0;
    }

    @include for-tablet-landscape-only {
      display: block;
      text-align: left;
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  &__menu-col {
    width: 100%;

    @include for-desktop-up {
      display: none;
    }
  }

  &__menu-vacancy {
    display: block;
    margin-bottom: 12px;
    margin-right: 0;
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;

    @include for-desktop-up {
      display: none;
    }
  }

  &__menu-address {
    width: 100%;
    display: block;
    position: static;
    right: 0;
    text-align: left;
    transform: none;
    font-size: 16px;
    line-height: 22px;

    @include for-desktop-up {
      display: none;
    }
  }
}