.offer {
  padding-bottom: 339px;

  @include for-phone-only {
    padding-bottom: 60px;
  }

  &__title-recommendation {
    @include normal-text(18px, 26px);

    overflow: hidden;
    margin-bottom: 37px;
    color: $blue-color;

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 1px;
      width: 100%;
      background: $border-header-color;
      margin-right: -100%;
      margin-left: 20px;
      margin-bottom: 3px;
    }

    @include for-phone-only {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}